:root {
    --backgroundColour: #ddd;
    --textColour: #000;
    --navColour: #000;
    --accentColour: #aaa;
    --hovNavColour: #aaa;
    --titleFontFamily: "Adobe Garamond Pro" ;
    --bodyFontFamily: "Adobe Garamond Pro";
}

@media (prefers-color-scheme: dark){
    :root {
        --backgroundColour: #222;
        --textColour: #f22;
        --navColour: #f00;
        --accentColour: #ddd;
        --hovNavColour: #400;
        --titleFontFamily: "SF Mono";
        --titleFontFamilyBackup: monospace;
        --bodyFontFamily: "SF Mono";
}
}

.current {
color: green;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--bodyFontFamily);
;

}

html {
  background-color: var(--backgroundColour);
  color: var(--textColour);
  max-width: 1300px;


  /* REMOVE IF NOTHING GOES WRONG: margin: 0 auto; */
}

a {
  text-decoration: none;
  background-color: var(--backgroundColour);
  font-weight: bold;
  padding: 1rem;
}

a:visited {
    color: var(--accentColour);
}

a:hover {
    background-color: var(--hovNavColour);
    color: var(--textColour);
}

a:active {
    transform: translate(15px);
    filter: drop-shadow(1px 1px);
}

.title {
	font-family: var(--titleFontFamily), "Adobe Caslon Pro", Times, "Lucida Grande", "Courier New";
	font-size: 80pt;
	font-weight: bold;
	text-align: center;
	padding: 3rem;
}


.navMenuList {
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.navMenuList:active {
    transform: translate(5px, 5px);
    font-size: 56pt;
}

ul {
  list-style: none;
}



.navMenu {
  float: left;
  width: 30%;
  text-align: right;
  color: var(--accentColour);
  line-height: 1.8;
  font-weight: bold;
  font-size: 30px;
}

.navMenuHeading a {
  color: var(--navColour);

  /* TO MAKE THE BACKGROUND HIGHLIGHT COVER ENOUGH AREA */
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  width: 200px;
  border: solid;
  border-radius: 5px;
  filter: drop-shadow(5px 5px);
}


.navMenuDropdown {
  display: none;
  line-height: 1.2;
  font-size: 25px;
}

.navMenuCurrentPage {
  display:block;
  line-height: 1.2;
  font-size: 25px;
  color: white;
}

.navMenuCurrentSport a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  color: white;
}

.whiteBackground {
  background-color: #ddd;
  color: black !important;
}

.navMenuDropdown a {
  color: white;
}

.navMenuHeading:hover > .navMenuDropdown, .active{
  display: block;
}



.bottonTop {
	min-width: 200px;
	border: solid;
}



@media only screen and (max-width:800px) {
/* For tablets: */
.navMenu, .content, .rightMenu {
  width: 100%;
}

.navMenu, .rightMenu {
  text-align: center;
}

.navMenuList {
  display: inline-block;
}

}

@media only screen and (max-width:500px) {
/* For tablets: */
.navMenu, .content, .rightMenu, .contentLeft, .contentRight {
  width: 100%;
}

.navMenu, .rightMenu {
  text-align: center;
  display: block;
}

.title {
	font-size: 46pt;
}

}

/* MAKES THE COLOR CHANGE AFFECT THE PARENT AS WELL
.navMenu li:hover > a {
  background-color: #ddd;
  color: black;
}*/
