:root {
    --backgroundColour: #ddd;
    --textColour: #000;
    --navColour: #000;
    --accentColour: #aaa;
    --hovNavColour: #aaa;
    --titleFontFamily: "Adobe Garamond Pro" ;
    --bodyFontFamily: "Adobe Garamond Pro";
    --titleFontFamilyBackup: monospace;
}

@media (prefers-color-scheme: dark){
    :root {
        --backgroundColour: #222;
        --textColour: #f22;
        --navColour: #f00;
        --accentColour: #ddd;
        --hovNavColour: #400;
        --titleFontFamily: "SF Mono";
        --titleFontFamilyBackup: monospace;
        --bodyFontFamily: "SF Mono";
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--bodyFontFamily);
;

}

html {
  background-color: var(--backgroundColour);
  color: var(--textColour);
  max-width: 800px;
   margin: auto;
  }
  


  /* REMOVE IF NOTHING GOES WRONG: margin: 0 auto; */




.title {
	font-family: var(--titleFontFamily), "Adobe Caslon Pro", Times, "Lucida Grande", "Courier New";
	font-size: 80pt;
	font-weight: bold;
	text-align: center;
	padding: 3rem;
}


nav {
  float: left;
  
  
  text-align: center;
  color: var(--accentColour);
  line-height: 1.5;
  font-weight: bold;
  font-size: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
  min-width: 5em;
  width: 80%;
  border: solid;
  border-radius: 5px;
  border-color: var(--navColour);
  margin: .5em;
  filter: drop-shadow(5px 5px var(--navColour));
  background-color: var(--backgroundColour);
}

nav ul li a{
	color: var(--navColour);
	padding: .5em 2em;
	margin: -.5em -2em;
}

nav ul li:active {
	filter: drop-shadow(1px 1px);
    transform: translate(5px, 5px);
}


nav ul li:hover {
    background-color: var(--hovNavColour);
    color: var(--textColour);
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
    color: var(--accentColour);
}

a:hover {
    color: var(--textColour);
}

.content {
	float: left;
	margin-left: 2em;
	max-width: 30em;
}


@media only screen and (max-width:800px) {
/* For tablets: */
nav, .content, {
  width: 100%;
  float: none;
}

.navMenu, .rightMenu {
  text-align: center;
}

.navMenuList {
  display: inline-block;
}

nav ul li a{
	padding: .5em 7em;
	margin: -.5em -7em;
}

}

@media only screen and (max-width:500px) {
/* For tablets: */
.navMenu, .content, .rightMenu, .contentLeft, .contentRight {
  width: 80%;
  float: left;
}

nav, .rightMenu {
  text-align: center;
  display: block;
}



.title {
	font-size: 46pt;
}

}

@media only screen and (max-width:280px) {
.title{
	font-size: 24pt;
}
}

/* MAKES THE COLOR CHANGE AFFECT THE PARENT AS WELL
.navMenu li:hover > a {
  background-color: #ddd;
  color: black;
}*/
